

img{
  height: 80px;
  width: 80px;

}

.btn-close-btn{
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    left: 67px;
    top: -10px;
    background-color: rgb(241, 93, 93);
    color: rgb(66, 62, 62);
    border: none;
}